
html, body {
    margin: 0px;
    height: 100%;
}
.headerimage-katalog {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*z-index: -1;*/
    height: 30%;
    width: 100%;
    background: linear-gradient(transparent 80%,#fffafa), url("odderAvis8.jpg") no-repeat;
    background-size: cover;
    background-position: 200px, 0px;
}
.headerimage {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*z-index: -1;*/
    height: 80%;
    width: 100%;
    background: linear-gradient(transparent 80%,#fffafa), url("odderAvis8.jpg") no-repeat;
    background-size: cover;
    background-position: 200px, 0px;
}

.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: +1;
    width: 100%;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
    text-align: center;
    margin: 40px 10%;
}

nav .logo {
    height: 150px;
    margin: 5px;
}

nav .navLinks {
    padding: 10px;
    background-color: hsla(28, 100%, 86%, 0.70);
    max-height: 25px;
    min-height: 25px;
}

nav .navLinks a {
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    width: 100%;
}

nav .navLinks a:hover {
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    padding: 0.5em;
}

.content {
    background-color: blue;
    height: 1000px;
    width: 100%;
}